.home-page {
    width: 100%;
    margin-bottom: 4rem;
}

.contents {
    width: min(1200px, calc(100% - 3rem));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.contents h1 {
    padding: 2rem 0rem;
}

.body-projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
    padding: 0.5rem 0rem;
    gap: 3rem;
    align-items: stretch;
}

.body-writing {
    width: 100%;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
}